<!DOCTYPE html>
<html>
<head>
  <title>TauDepot Online Store</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<BODY class='<%= controller.controller_name %>'>
  <div id="banner">
    <%= image_tag("logo.png") %>
    <%= @page_title || "Taudepot Online" %>
  </div>
  <div id="columns">

    <div id="side">
        <div id="cart"
          <% if @cart.line_items.empty? %>
            style="display: none"
          <% end %>
        >
          <%= render @cart %>
        </div>
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Questions</a></li>
        <li><a href="">News</a></li>
        <li><a href="">Contact</a></li>
      </ul>
      Current time: <br>
      <%= Time.current.to_s(:long) %>
    </div>

    <div id="main">
      <%= yield %>
    </div>
  </div>

</BODY>
</html>
